@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header style="justify-content: center; display:flex;">
    <div class="p-4" style="background-color: #4F4F4F; display:inline-block;">
        <h1>@ViewData["Title"]</h1>
        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {
                <p>Are you sure you want to log out ?</p>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="btn btn-default btn-info">Click here to Logout</button>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </div>
</header>
