@page
@model TaskNinja.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container _bg-light">
    <h1 class="text-center">Dashboard</h1>
    <div class="row justify-content-center">
        <div class="col-md-3 d-flex justify-content-center">
                <div class="card text-white bg-primary m-3 hover-anim" style="width: 13rem;">
                    <a asp-page="/TaskManager/Index" class="text-white link-underline-primary">
                        <div class="card-body" style="
                          background: linear-gradient(
                            45deg,
                            hsla(168, 85%, 52%, 0.5),
                            hsla(263, 88%, 45%, 0.5) 100%
                          );">
                        
                            <h4 class="card-title">My Tasks</h4>
                            <img src="~/card-checklist.svg" alt="checklist image" width="80%" class="m-3 text-primary"/>
                        </div>
                    </a>
                </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
                <div class="card text-white bg-primary m-3 hover-anim" style="width: 13rem;">
                <a asp-page="/TeamsManager/Index" class="text-white link-underline-primary">
                        <div class="card-body" style="
                          background: linear-gradient(
                            45deg,
                            hsla(168, 85%, 52%, 0.5),
                            hsla(263, 88%, 45%, 0.5) 100%
                          );">
                        
                            <h4 class="card-title">My Teams</h4>
                            <img src="~/people-fill.svg" alt="checklist image" width="80%" class="m-3 text-primary" />
                        </div>
                    </a>
                </div>
        </div>
    </div>
</div>


<style>
    .hover-anim:hover {
        transform: scale(1.05);
        cursor: pointer;
        filter: hue-rotate(90deg);
    }
</style>
