@page
@model TaskNinja.Pages.TeamInvitesModel
@{
}

<div class="flex-column">
    <h1 class="text-center">Invites</h1>
    <ul class="w-50 mx-auto">
        @foreach (var inv in Model.TeamInvites)
        {
            <li class="text-center">
                <div class="d-flex row w-100 justify-content-center">
                    <div class="col-3">
                        <p>From: @Model.GetMailFromId(inv.SenderId)</p>
                    </div>
                    <div class="col-3">
                        <p>Team: @Model.GetNameFromTeam(inv.TeamId)</p>
                    </div>
                    <div class="col-2">
                        <form method="post" asp-page-handler="Accept">
                            <input type="hidden" name="id" value="@inv.Id"/>
                            <button type="submit" class="col-sm-4 btn btn-primary w-100">Accept</button>
                        </form>
                    </div>
                    <div class="col-2">
                        <form method="post" asp-page-handler="Decline">
                            <input type="hidden" name="id" value="@inv.Id"/>
                            <button type="submit" class="col-sm-4 btn btn-primary w-100">Decline</button>
                        </form>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
