@page
@model TaskNinja.Pages.TeamInvitesModel
@{
}

<ul>
    @foreach (var inv in Model.TeamInvites)
    {
        <li>
            <div class="d-flex row w-25">
                <p class="col-sm-4">Team: @inv.TeamId</p>
                <form method="post" asp-page-handler="Accept">
                    <input type="hidden" name="id" value="@inv.Id"/>
                    <button type="submit" class="col-sm-4 btn btn-primary" >Accept</button>
                </form>
                <form method="post" asp-page-handler="Decline">
                    <input type="hidden" name="id" value="@inv.Id"/>
                    <button type="submit" class="col-sm-4 btn btn-primary" >Decline</button>
                </form>
            </div>
        </li>
    }
</ul>
