@using TaskNinja.Services
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskNinja</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@*     <link rel="stylesheet" href="~/css/bootstrap_flatly.css" asp-append-version="true" />
 *@    <link rel="stylesheet" href="~/css/bootstrap_darkly.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskNinja.styles.css" asp-append-version="true" />
</head>
<body class="bg-secondary">
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-page="/Index">TaskNinja</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a asp-page="/Dashboard/Index" class="nav-link">
                               Dashboard 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/TeamsManager/Index" class="nav-link">Teams</a>
                        </li>
                    </ul>

                    <partial name="_LoginPartial"/>

                </div>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top  text-muted foot bg-secondary">
        <div class="container">
            &copy; 2023 - TaskNinja - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .main-container{
        margin: 10px;
        height: 100%;
    }

    .foot {
        max-height: 24px;
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 30px;
        width: 100%;
    }

    html {
        height: 100%;
    }

    body {
        min-height: 100%;
    }
</style>